Repository 7Cav/7Cav-Alive, pull requests merged in 2020-06, with the labels that each got.

#301 CLA Afghan and Isla Duala
  7Cav-Alive.Altis/mission.sqm
  7Cav-Alive.Tanoa/mission.sqm
  7Cav-Alive.clafghan/mission.sqm
  7Cav-Alive.isladuala3/mission.sqm
  7Cav-Alive.lingor3/mission.sqm
Labels: New Msision

#307 Revamped Logistics Box spawner list
  7Cav-Alive.Altis/scripts/client/ammoBoxList.sqf
  7Cav-Alive.Altis/scripts/client/ammoBoxSpawner.sqf
Labels: Script Related, enhancement

#315 Changed database name to comply with S6
  7Cav-Alive.Altis/init/fn_serverPreInit.sqf
Labels: Script Related

#316 Isla Duala Fix
  7Cav-Alive.isladuala3/mission.sqm
Labels: BugFix, Mission Related

#328 Fixed broken syntax
  7Cav-Alive.Altis/scripts/client/ammoBoxList.sqf
  7Cav-Alive.Altis/scripts/client/ammoBoxSpawner.sqf
Labels: BugFix, Script Related

#333 Multifunction patch
  7Cav-Alive.Altis/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.Altis/cba_settings.sqf
  7Cav-Alive.Altis/description.ext
  7Cav-Alive.Altis/mission.sqm
  7Cav-Alive.Altis/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.Altis/tac2/fn_fortifyPermissionsInitPlayer.sqf
  7Cav-Alive.clafghan/mission.sqm
  7Cav-Alive.isladuala3/mission.sqm
  7Cav-Alive.lingor3/mission.sqm
Labels: BugFix, enhancement

#343 Hotfix-5.9.2
  7Cav-Alive.Altis/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.Altis/cba_settings.sqf
  7Cav-Alive.Altis/description.ext
  7Cav-Alive.Altis/mission.sqm
  7Cav-Alive.Altis/scripts/client/ammoBoxList.sqf
  7Cav-Alive.Altis/scripts/client/ammoBoxSpawner.sqf
  7Cav-Alive.Altis/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.Altis/tac2/fn_fortifyPermissionsInitPlayer.sqf
  7Cav-Alive.Tanoa/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.Tanoa/cba_settings.sqf
  7Cav-Alive.Tanoa/description.ext
  7Cav-Alive.Tanoa/scripts/client/ammoBoxList.sqf
  7Cav-Alive.Tanoa/scripts/client/ammoBoxSpawner.sqf
  7Cav-Alive.Tanoa/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.Tanoa/tac2/fn_fortifyPermissionsInitPlayer.sqf
  7Cav-Alive.clafghan/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.clafghan/cba_settings.sqf
  7Cav-Alive.clafghan/description.ext
  7Cav-Alive.clafghan/mission.sqm
  7Cav-Alive.clafghan/scripts/client/ammoBoxList.sqf
  7Cav-Alive.clafghan/scripts/client/ammoBoxSpawner.sqf
  7Cav-Alive.clafghan/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.clafghan/tac2/fn_fortifyPermissionsInitPlayer.sqf
  7Cav-Alive.isladuala3/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.isladuala3/cba_settings.sqf
  7Cav-Alive.isladuala3/description.ext
  7Cav-Alive.isladuala3/mission.sqm
  7Cav-Alive.isladuala3/scripts/client/ammoBoxList.sqf
  7Cav-Alive.isladuala3/scripts/client/ammoBoxSpawner.sqf
  7Cav-Alive.isladuala3/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.isladuala3/tac2/fn_fortifyPermissionsInitPlayer.sqf
  7Cav-Alive.lingor3/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  7Cav-Alive.lingor3/cba_settings.sqf
  7Cav-Alive.lingor3/description.ext
  7Cav-Alive.lingor3/mission.sqm
  7Cav-Alive.lingor3/scripts/client/ammoBoxList.sqf
  7Cav-Alive.lingor3/scripts/client/ammoBoxSpawner.sqf
  7Cav-Alive.lingor3/scripts/client/vehiclePermissionsList.sqf
  7Cav-Alive.lingor3/tac2/fn_fortifyPermissionsInitPlayer.sqf
  inactive-7Cav-Alive.Takistan/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  inactive-7Cav-Alive.Takistan/cba_settings.sqf
  inactive-7Cav-Alive.Takistan/description.ext
  inactive-7Cav-Alive.Takistan/scripts/client/ammoBoxList.sqf
  inactive-7Cav-Alive.Takistan/scripts/client/ammoBoxSpawner.sqf
  inactive-7Cav-Alive.Takistan/scripts/client/vehiclePermissionsList.sqf
  inactive-7Cav-Alive.Takistan/tac2/fn_fortifyPermissionsInitPlayer.sqf
  inactive-7Cav-Alive.chernarus/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  inactive-7Cav-Alive.chernarus/cba_settings.sqf
  inactive-7Cav-Alive.chernarus/description.ext
  inactive-7Cav-Alive.chernarus/scripts/client/ammoBoxList.sqf
  inactive-7Cav-Alive.chernarus/scripts/client/ammoBoxSpawner.sqf
  inactive-7Cav-Alive.chernarus/scripts/client/vehiclePermissionsList.sqf
  inactive-7Cav-Alive.chernarus/tac2/fn_fortifyPermissionsInitPlayer.sqf
  inactive-7Cav-Alive.sara/cScripts/CavFnc/functions/init/fn_initFortify.sqf
  inactive-7Cav-Alive.sara/cba_settings.sqf
  inactive-7Cav-Alive.sara/description.ext
  inactive-7Cav-Alive.sara/scripts/client/ammoBoxList.sqf
  inactive-7Cav-Alive.sara/scripts/client/ammoBoxSpawner.sqf
  inactive-7Cav-Alive.sara/scripts/client/vehiclePermissionsList.sqf
  inactive-7Cav-Alive.sara/tac2/fn_fortifyPermissionsInitPlayer.sqf
Labels: BugFix, Mission Related, Script Related
