Repository 7Cav/7Cav-Alive, pull requests merged in 2020-05, with the labels that each got.

#259 Davidcit sahrani
  Sahrani.sara/mission.sqm
Labels: Mod Related, New Msision

#260 Sahrani release
  Sahrani.sara/mission.sqm
Labels: Mission Related, New Msision

#261 Update description.ext
  7Cav-Alive.Altis/description.ext
Labels: BugFix

#262 versioning
  7Cav-Alive-WFW.Altis/description.ext
  7Cav-Alive.Altis/description.ext
  7Cav-Alive.Takistan/description.ext
  7Cav-Alive.Tanoa/description.ext
  7Cav-Alive.chernarus/description.ext
Labels: BugFix

#267 Database framework
  7Cav-Alive.Altis/init/fn_clientPostInit.sqf
  7Cav-Alive.Altis/init/fn_clientPreInit.sqf
  7Cav-Alive.Altis/init/fn_serverPreInit.sqf
  7Cav-Alive.Altis/initPlayerLocal.sqf
  7Cav-Alive.Altis/lib/extdb3/oo_extdb3.sqf
  7Cav-Alive.Altis/lib/extdb3/oop.h
  7Cav-Alive.Altis/scripts/client/curatorUtilities.sqf
  7Cav-Alive.Altis/scripts/client/database.sqf
  7Cav-Alive.Altis/scripts/client/logistics/personnelModule.sqf
  7Cav-Alive.Altis/scripts/server/chatCommands/teleport.sqf
  7Cav-Alive.Altis/scripts/server/curator.sqf
  7Cav-Alive.Altis/scripts/server/database/database.sqf
  7Cav-Alive.Altis/scripts/server/database/player.sqf
  7Cav-Alive.Altis/scripts/server/logistics/personnelModule.sqf
  7Cav-Alive.Altis/tac2/loyalty/loyalty_fnc.sqf
Labels: Mod Related, Script Related

#289 [UN-TESTED] mission.sqm fixes
  7Cav-Alive.Altis/description.ext
  7Cav-Alive.Altis/mission.sqm
  7Cav-Alive.Tanoa/mission.sqm
  7Cav-Alive.lingor3/mission.sqm
  7Cav-Alive.sara/mission.sqm
Labels: BugFix, Mission Related, enhancement
